{% extends 'layout.html' %}
{% load static %}
{%block content%}


    <!--Start Container-->
    <div class="container">

    	<!--Start Row-->
    	<div class="row">

    		<div class="col-sm-4">

    			<div class="icon">
    				<i class="fa fa-check-square"></i> 	
    			</div>

    			<h4>Shop Quality and Affordable</h4>
    			<p>Buy best quality baskets at affordable prices</p>
    			
    		</div>

    		<div class="col-sm-4">

    			<div class="icon">
    				<i class="fa fa-credit-card"></i> 	
    			</div>

    			<h4>Safe Payment</h4>
    			<p>Fast , Secured and Trusted Payment Methods. We accept Paypal Payment</p>
    			
    		</div>

    		<div class="col-sm-4">

    			<div class="icon">
    				<i class="fa fa-truck"></i> 	
    			</div>

    			<h4>Safe and Reliable Delivery System</h4>
    			<p>We Ensure your product gets to you safely and on time.</p>
    			
    		</div>

    	</div>
    	<!--End Row-->
    </div>
    <!--End Container-->
    <hr/>

  	
  	<!--Featured Baskets Categories-->

  	<!--Start Container-->
  	<div class="container mt-5 mb-4">

  		<h2 class="mb-4">Featured Categories <i class="fa fa-shopping-basket"></i></h2>

  		<div class="owl-carousel owl-theme">

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			<div class="item">

  				<div class="card">
  					<a href="#">
  						<img data-src="{% static 'images/products/u-shopper.jpg' %}" class="card-img-top owl-lazy">
  					</a>

  					<div class="card-body">
  						<h5 class="card-title text-center">U-Shopper</h5>
  						<p class="card-text text-center">
  							<a href="#" class="btn btn-outline-dark btn-sm">View Category</a>
  						</p>
  						
  					</div>
  					
  				</div>
  				
  			</div>

  			
  		</div>
  		
  	</div>
  	<!--End Container-->



  	<!--Start Latest this week section-->
  	<div id="hot">

  		<!--Start Box-->
  		<div class="box">

  			<!--Start Container-->
  			<div class="container">
  				<div class="row">
  					<div class="col-md-12">
  						<h2>Latest This Week</h2>  						
  					</div>  					
  				</div>  				
  			</div>
  			<!--End Container-->  			
  		</div>
  		<!--End Box-->  		
  	</div>
  	<!--ENd Latest this week section-->



  	<!--Start Container-->
  	<div class="container" id="content">
  		
  		<!--Start Row-->
  		<div class="row">

  			

  			<!--Start Cols-->
  			<div class="col-6 col-sm-4 col-md-3 mb-4">
  				
  				<!--Start Card-->
  				<div class="card product">
  					<a href="details.php">
  						<img src="{% static 'images/products/basket.jpg' %}" class="card-img-top">
  					</a>

  					<div class="card-body">
  						<h3 class="card-title"><a href="details.php"> Market Basket </a></h3>
  						<p class="price text-center">$50</p>
  						<div class="buttons text-center">
  							<a href="details.php" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i>Add to Cart</a>

  						</div>
  						
  					</div>
  					
  				</div>
  				<!--End Card-->
  			</div>
  			<!--End Cols-->

  			<!--Start Cols-->
  			<div class="col-6 col-sm-4 col-md-3 mb-4">
  				
  				<!--Start Card-->
  				<div class="card product">
  					<a href="details.php">
  						<img src="{% static 'images/products/basket.jpg' %}" class="card-img-top">
  					</a>

  					<div class="card-body">
  						<h3 class="card-title"><a href="details.php"> Market Basket </a></h3>
  						<p class="price text-center">$50</p>
  						<div class="buttons text-center">
  							<a href="details.php" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i>Add to Cart</a>

  						</div>
  						
  					</div>
  					
  				</div>
  				<!--End Card-->
  			</div>
  			<!--End Cols-->

  			<!--Start Cols-->
  			<div class="col-6 col-sm-4 col-md-3 mb-4">
  				
  				<!--Start Card-->
  				<div class="card product">
  					<a href="details.php">
  						<img src="{% static 'images/products/basket.jpg' %}" class="card-img-top">
  					</a>

  					<div class="card-body">
  						<h3 class="card-title"><a href="details.php"> Market Basket </a></h3>
  						<p class="price text-center">$50</p>
  						<div class="buttons text-center">
  							<a href="details.php" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i>Add to Cart</a>

  						</div>
  						
  					</div>
  					
  				</div>
  				<!--End Card-->
  			</div>
  			<!--End Cols-->

  			<!--Start Cols-->
  			<div class="col-6 col-sm-4 col-md-3 mb-4">
  				
  				<!--Start Card-->
  				<div class="card product">
  					<a href="details.php">
  						<img src="{% static 'images/products/basket.jpg' %}" class="card-img-top">
  					</a>

  					<div class="card-body">
  						<h3 class="card-title"><a href="details.php"> Market Basket </a></h3>
  						<p class="price text-center">$50</p>
  						<div class="buttons text-center">
  							<a href="details.php" class="btn btn-success btn-sm btn-block"><i class="fa fa-shopping-cart"></i>Add to Cart</a>

  						</div>
  						
  					</div>
  					
  				</div>
  				<!--End Card-->
  			</div>
  			<!--End Cols-->

  		</div>
  		<!--End Row-->
  	</div>
  	<!--End Container-->

{%endblock content%}